@model String

@{
    ViewData["Title"] = "Banner text";
}

<style>
    .responsiveBackgroundImage {
        width: 100vw;
        background-image: url(@Model);
        background-size: cover;
        background-repeat: no-repeat;
    }

        .responsiveBackgroundImage h2 {
            margin: 0;
            text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
            font-size: 40PX;
            font-family: "Lato";
            font-weight: 700;
            margin-left: 100px;
            color: #f8f8f8;
            padding: 150px 0px 150px 0px;
        }
</style>

<div class="responsiveBackgroundImage">
    <h2>@ViewData["Title"]</h2>
</div>

<br />