@model List<string>

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow ">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-page="/Index">
                <img src="~/img/logo.png" style="height: 30px" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav ">
                    @*use flex-grow-1 class to make it stick to the right
                        <ul class="navbar-nav flex-grow-1">*@
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Kredek/Index">Intro</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Kredek/Team">Zespół</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Kredek/Course">Kurs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Kredek/Blog">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Kredek/About">O Nas</a>
                    </li>

                    <!-- #region Test Nav Rendering -->

                    @foreach (var pageName in Model)
                    {
                        <li class="nav-item">
                            <em><a href="https://localhost:44393?pageName=@pageName" class="nav-link text-dark"> @pageName </a></em>
                        </li>
                    }
                    <!-- #endregion -->

                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Kredek/Contact">Kontakt</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="https://docs.google.com/document/d/1awfxAxzwyoxXIWxLpJWFnc8G614OD1yzvt-TBPU7uAc/edit?usp=sharing"><b>&ensp;|||&ensp;&ensp;&ensp;[tmp -> zgłoś problem]</b></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>