@page
@model KredekProtopyte.Pages.Kredek.AboutModel
@{
    ViewData["Title"] = "About";
}

<h1>About</h1>

@await Html.PartialAsync("../Shared/TemplatesPartials/_BannerPartial.cshtml", "../img/Index.jpg")