@page
@model KredekProtopyte.Pages.Kredek.BlogModel
@{
    ViewData["Title"] = "Blog";
}

@await Html.PartialAsync("../Shared/TemplatesPartials/_BannerPartial.cshtml", "../img/Index.jpg")

<p class="display-1 text-center">Pierwsze </p>
<h1 class="text-center">10 postow</h1>
<p class="display-4 text-center">z naszego blogu na </p>
<p class="display-1 text-center"><a href="https://www.facebook.com/KNKredek/">Facebooku</a></p>
<br />
<br />

<div class="container ">
    <div class="row">
        <div class="col-lg-6 offset-lg-3 col-md-10 offset-md-1 col-sm-12 ">
            @foreach (var post in Model.FeedPostsDto.Posts)
            {
                <div class="card bg-light mb-4 p-5 p-sm-0 p-md-2">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <h5 class="card-text">
                                    <a href="@post.SourceUrl">Zobać na Facebook </a>
                                </h5>
                            </div>
                            <div class="col-6 text-right">
                                <p class="card-text">
                                    <small class="text-muted">@post.CreatedTime</small>
                                </p>
                            </div>
                        </div>
                        <hr />
                        <p class="card-title text-justify text-center">
                            @post.Content
                        </p>
                        <img class="card-img-top card-img-bottom"
                             src="@post.Picture"
                             alt="Card image cap">
                    </div>
                </div>
            }
        </div>
    </div>
</div>