@page
@model KredekProtopyte.Pages.Kredek.ContactModel
@{
    ViewData["Title"] = "Contact";
}

@await Html.PartialAsync("../Shared/TemplatesPartials/_BannerPartial.cshtml", "../img/Index.jpg")

<h1>
    Masz pytania ? A może odpowiedzi? Napisz do nas!
</h1>

<p>Vestibulum iaculis tempor ultrices. Integer vitae tellus purus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur non dapibus arcu. Nulla id eros vel dui vestibulum facilisis et eu arcu. Sed dignissim pharetra diam sit amet aliquet. Nulla id nibh eros. Etiam iaculis urna sed nulla porttitor venenatis. Morbi at tempus orci, eget accumsan mi. In bibendum imperdiet maximus. Maecenas vitae dui nibh. Pellentesque lobortis efficitur molestie. Nullam at egestas purus, non hendrerit est. Donec non sem orci.</p>

<br />

<div class="row">
    <div class="col-12">
        <div class="border">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="container" style="padding:30px">
                    <div class="form-group ">
                        <div class="row">
                            <div class="col-3"> <label>Name *</label></div>
                            <div class="col-12"> <input class="form-control" /> </div>
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="row">
                            <div class="col-3"> <label>Email *</label></div>
                            <div class="col-12"> <input class="form-control" /> </div>
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="row">
                            <div class="col-3"> <label>Title * </label></div>
                            <div class="col-12"> <input class="form-control" /> </div>
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="row">
                            <div class="col-3"> <label>Mail text * </label></div>
                            <div class="col-12">
                                <textarea class="form-control"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="form-group ">
                        <div class="row">
                            <div class="col-4 offset-8"> <input type="submit" value="Send E-mail" class="btn btn-info form-control"></div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}