@page
@model KredekProtopyte.Pages.Kredek.CourseModel
@{
    ViewData["Title"] = "Course";
}

@await Html.PartialAsync("../Shared/TemplatesPartials/_BannerPartial.cshtml", "../img/Index.jpg")

<h1>Course</h1>