@page
@model KredekProtopyte.Pages.Kredek.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Strona glowna</h1>

@await Html.PartialAsync("_BannerTemplatePartial", Model.BannerTemplate)
@await Html.PartialAsync("_BannerImageAndTextPartial", Model.ImageAndTextTemplateLeft)
@await Html.PartialAsync("_BannerImageAndTextPartial", Model.ImageAndTextTemplateRight)