@model (string, string)

<style>
    .responsiveBackgroundImage {
        background-image: url(@Model.Item1);
    }
</style>

<div class="responsiveBackgroundImage bannerText">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>@Model.Item2</h1>
            </div>
        </div>
    </div>
</div>