@using KredekProtopyte.Data;
@model BannerTemplate

@{
    string bannerTemplateId = "bannerTemplateId" + Model.Id;
}

@await Html.PartialAsync("../Shared/TemplatesPartials/_ResponsiveBackgroundImageStyle")

<style>
    #@bannerTemplateId {
        background-image: url(@Model.ImageUrl);
    }

    .responsiveBackgroundImage h1 {
            font-size: 65PX !important;
        }

    .responsiveBackgroundImage h2 {
            padding: 0px 0px 150px 0px !important;
        }

    .responsiveBackgroundImage h2, .responsiveBackgroundImage h1 {
        margin: 0px !important; /* ignore h1 style to center the text! */
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
        font-size: 40PX;
        font-family: "Lato";
        font-weight: 700;
        color: #f8f8f8;
        padding: 150px 0px 0px 0px;
    }

    .responsiveBackgroundImage hr {
        max-width: 50%;
        border-top: 5px solid #FFFFFF;
    }
}
</style>

<div class="responsiveBackgroundImage" id="@bannerTemplateId">
    <div class="text-center align-content-center">
        <h1>@Model.Title</h1>
        <hr />
        <h2>@Model.SubTitle</h2>
    </div>
</div>

<br />